extends layout
block content
    h3 markdown
    :markdown
      hi,this is **imooc** [link](http://imooc.com)

    
  
    h3 coffee
    script
      :coffee
        console.log 'this is coffee!'

    h2 模板继承
    h2 mixin
    mixin lesson
      p imooc jade study
    +lesson
    mixin study(name,courses)
      p #{name} study
      ul.course
        each course in courses
          li= course
    +study('tom',['jade','node'])
    mixin group(student)
      h4 #{student.name}
      +study(student.name,student.courses)
    +group({name:'iven',courses:['express','test']})

    mixin team(slogon)
      h4 #{slogon}
      if block
        block
      else
        p no team
    +team('test')
      p test the block

    mixin attr(name)
      p(class!=attributes.class) #{name}
    +attr('attr11')(class='magic1')
    mixin attrs(name)
      p&attributes(attributes) #{name}
    +attrs('attrss')(class='magic2',id='test')
    mixin magic(name, ...items)
      ul(class='#{name}')
        each item in items
          li= item
    +magic('magic','node','jade','...')



    h2 流程
    h3 if else
    - var isimooc = true
    - var lessons = ['jade','node','mon']
    if lessons
      if lessons.length>2
        p the lessons is 2
      else if lessons.length >1
        p the lessons is 1
      else
        p no lesson
    else
      p no lessons
    h3 unless
    unless !isimooc
      p #{lessons.length}
    h3 case
    - var name = 'node'
    case name
      when 'java'
      when 'jade'
        p hi jade!
      when 'node': p hi node!
      default
        p hi #{name}
    h2 while
    - var n = 0
    ul
      while n<4
        li= n++
    h3 for each
    - var imooc = {course:'jade',level:'high'}
    - for (var k in imooc)
      p #{imooc[k]}
    - each value , key in imooc
      p #{key}: #{value}
    - var courses=['node','jade','mongodb']
    - each item in courses
      p= item
    - var sections = [{id:1,items:['a','b']},{id:2,items:['c','d']}]
    dl
      each section in sections
        dt= section.id
        each item in section.items
          dd= item

    h2 声明变量和替换数据
    br
    h2 转义
    - var data ='test'
    - var htmldata = '<script>alert(1);</script>'
    p #{data}
    p #{htmldata}
    p !{htmldata}
    p= data
    p= htmldata
    p \#{htmldata}
    p \!{htmldata}


    h2 注释
    h3 单行注释
    //h1#title.title imooc jade study
    h3 非缓存注释
    //- #id.classname
    h3 块级注释
    //-
      p
       | 1. cc
       | 2. cc
       | 3. cc
    p.
     1.cc
     2.cc